@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @variants responsive{
        .grid-3x-2x{
            grid-template-columns: 3fr 2fr;
        }

        .grid-3way{
            grid-template-columns: auto auto 1fr;
        }
    }

    .contain{
        @apply w-11/12 md:w-4/5 m-auto;
    }
    .transform-50{
        transform: translate(-50%, -50%);
    }
}